<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

</head>
<body>
    <ol type="1">
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>   
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <form  id="post-name" >
            {% csrf_token %}
            <input type="text" name="myname" id="myname">
            <input type="submit" values="submit">
           
        </form>
        <li><p id="showname">{{ name }}</p></li>
    </ol>

    <script>
        $(document).on('submit', '#post-name', function(e){
            e.preventDefault();

            $.ajax({
                type:'POST',
                url:'/showname/',
                data:{ 
                    'myname': $('#myname').val(),
                    'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),
                },
                 success: function(data){
                    $('#showname').html(data)

                }
            });
        });

    </script>

</body>
</html>