{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>static from </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
    
<body>
    <div class="header">
        <h1> this is python </h1>
    </div>
    <div class="content">
        <div class="saidpanel">
            <ol>
                <li>item1</li>
            </ol>

        </div>
        <div class="maincontent">
            <b> this is my first page django...</b>
            <img src="{% static 'img/pic2.jpg' %}"</div>
            
        </div>
        
    </div>
    <div class="footer">
        <h1> python@gmail.com</h1>

    </div>
    
</body>
</html>