<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/registeritem/" method="post">
        {% csrf_token %}
        <input type="text" name="itemname" id="itemname">
        <input type="text" name="qty" id="qty"> 
        <button type="submit">submit</button>
    </form> 

    {% if request.session %}
    <table>
        <tr><th>itemname</th><th>itemQty</th></tr>
        {% for dic in request.session.values %}
        {% for itemname,qty in dic.items %}
        <tr>
            <td>{{itemname }}</td>
            <td>{{ qty}}</td>
        </tr>
        {% endfor %}
        {% endfor %}

    </table>
    {% else %}
    <p> No Items to show..</p>
    {% endif %}

    

    
</body>
</html>